<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--<title>Robot!</title>-->
    <!--<link rel='stylesheet' type='text/css' href='../../assets/stylesheets/style.css'/>-->
    <!--<script type='text/javascript' src='../../assets/javascripts/script.js'></script>-->
<!--</head>-->
<!--<body>-->
    <div class="container">
        <div class="header">
            <h1>Robot Robbie</h1>
        </div>
        <div class="row">
            <div id="col1" class="col-xs-12 col-sm-8 col-lg-4">
                <div class="table_backgr">
                    <img id="tbl"  class="table" src="https://pp.vk.me/c623327/v623327036/89b7/6dL2dYteoCk.jpg">
                    <img class="robot" src="http://www.thepopularapps.com/application/upload/Apps/2016/02/pixel-robot-jump-saga-3.png">
                </div>

            </div>
            <div id="col2" class="col-xs-12 col-sm-3 col-lg-4 col-demo">
                <input type="text" value="" id="quantity1">
                <input type="text" value="" id="quantity"><br>
                <button class="button">Submit</button>
            </div>
        </div>
      <div id="footer" class="col-xs-12 col-sm-3 col-lg-4 col">
        <button id="up" class="control"></button><br>
        <button id="left" class="control"></button>
        <button id="down" class="control"></button>
        <button id="right" class="control"></button>
      </div>
    </div>

<!--</body>-->
<!--</html>-->
